.slider
{
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow:hidden;
    background: black;
}

.slide
{
    min-width: 100%;
    height: 100%;
    transition: 0.5s;
    overflow:hidden;
}

%btn-styles
{
    display: flex;
    position: absolute;
    top: 50%;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    border: none;
    outline: none;
    transition: 0.5s;
    &:hover{
        background: rgba(255, 255, 255, 0.664);
        cursor: pointer;
    }
}

#goLeft
{
    left: 25px;
    @extend %btn-styles;
}

#goRight
{
    right: 25px;
    @extend %btn-styles;
}

